[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pydantic = "*"
fastapi = "*"
alembic = "*"
python-multipart = "*"
yolo = "*"
torch = "*"
ultralytics = "*"
onnxruntime = "*"
pillow = "*"
pip-tools = "*"
roboflow = "*"

[dev-packages]

[requires]
python_version = "3.10"
